*~
*.log
*.o
/doxygen-doc/
/bech32
/libbech32.pc
/test

# http://www.gnu.org/software/automake

*.trs
Makefile
Makefile.in
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1

# https://www.gnu.org/software/libtool/

*.la
*.lo
.libs/
/libtool
